<template>
  <div>
    <b-card-group>
      <b-card
        class="mb-2"
        v-for="(producto,index) in listaProductos"
        :title="producto.nombre"
        :key="index"
        style="max-width: 20rem;"
      >
        <b-card-text>
          {{producto.descripcion}}
          <br />
          {{producto.precio}}
        </b-card-text>
        <b-button id="btn-editar" @click="editarProducto(index)" variant="primary">Editar</b-button>
        <b-button id="btn-borrar" @click="borrarProducto(index)" variant="primary">Borrar</b-button>
      </b-card>
    </b-card-group>
  </div>
</template>
<script>
export default {
  data() {
    return {
      listaProductos: [
        { nombre: "TestCard1", descripcion: "DescripciónCard1", precio: 123 },
        { nombre: "TestCard2", descripcion: "DescripciónCard2", precio: 456 },
        { nombre: "TestCard3", descripcion: "DescripciónCard3", precio: 789 },
      ],
    };
  },
  methods: {
    setListaProductos() {
      this.listaProductos = [];
    },
    editarProducto() {
      //No logrado
    },
    borrarProducto(index) {
      this.listaProductos.splice(index, 1);
    },
  },
};
</script>
<style>
#btn-editar,
#btn-borrar {
  margin: 10px;
}
</style>